<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <!-- css style sheet  -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>ShopByYou</title>
     <!-- semantic css cdn  -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
     <!-- tab icon link  -->
    <link rel="shortcut icon" type="image/png"
      href="https://cdn.pixabay.com/photo/2017/07/08/19/32/symbol-2485366_1280.png" />
     <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>

<nav class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">ShopByYou</div>
         {{#if user}}
        <a href="/" class="item">Home</a>
        <div class="ui simple dropdown item">
          <a href="/category"> Categories <i class="dropdown icon"></i></a>
          <div class="menu">
            <a class="item" href="#">Women</a>
            <a class="item" href="#">Men</a>
            <div class="divider"></div>
            <div class="item" href="#">Household</div>
            <a class="item" href="#">Accessories</a>
          </div>
        </div>
        <a href="/favourite" class="item">Favorites</a>
        <a href="/sell" class="item">Sell</a>
        <div class="right menu">
          <div class="header item">Welcome:{{!-- handlbars --}}</div>
          <a href="/cart" class="item">
            <i class="shopping cart icon"></i>Shopping Cart</a>
          <div class="item">
            <div class="ui inverted violet button" href="/">Logout</div>
          </div>
        </div>
        {{/if}} 
        {{else}}
        {{if login}}
         <div class="right menu">
          <div class="item">
            <div class="ui inverted violet button" href="/signup">Sign Up</div>
          </div>
        </div>
        {{/if}}
        {{else}}
        {{if signup}}
         <div class="right menu">
          <div class="item">
            <div class="ui inverted primary button" href="/">Log in</div>
          </div>
       </div>
       {{/if}}
       {{else}}
       {{if guest}}
       <a href="/" class="item">Home</a>
        <div class="ui simple dropdown item">
          <a href="/category"> Categories <i class="dropdown icon"></i></a>
          <div class="menu">
            <a class="item" href="#">Women</a>
            <a class="item" href="#">Men</a>
            <div class="divider"></div>
            <div class="item" href="#">Household</div>
            <a class="item" href="#">Accessories</a>
          </div>
           <div class="right menu">
          <div class="item">
            <div class="ui inverted primary button" href="/">Log in</div>
          </div>
          <div class="item">
            <div class="ui inverted violet button" href="/signup">Sign Up</div>
          </div>
       </div>
       {{/if}}
      </div>
    </nav>


    {{{body}}}
     <!-- jQuery cdn  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- semantic jQuery cdn  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="/assets/js/signup.js"></script>
  </body>
</html>