  <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <div class="ui huge dividing header">Sorted By Chosen Category</div>
        <p></p>
      </div>
    </header>
    <main class="ui center aligned container">    
      
      <div class="ui four cards">
       
        <div class="ui stackable four column grid" >
          {{#each items}}
          <div class="column" >
            <div class="ui fluid card" id="itemCards">
              <div class="content">
                <div class="header">
                  <img
                  data-img="{{dataValues.image}}"
                    src="{{dataValues.image}}"
                    class="ui right spaced image"
                    id ="catImg"
                  />
                 <h3 id="catItemName" data-name="{{dataValues.item_name}}">{{dataValues.item_name}}</h3>
                </div>
                <div class="ui container">
                <div class="description ui left aligned" >
                  <p>
                      {{dataValues.description}}    
                  </p>
                  <div class="ui left aligned">
                    <p id="catprice" data-price="{{dataValues.price}}" class="price"><strong>Price: </strong>${{dataValues.price}}</p>
                  </div>
                  <div class="ui left aligned">
                    <span class="quantity"><strong>Product ID: </strong>{{dataValues.id}}</span>
                  </div>
                  <div class="ui left aligned">
                    <span class="category"><strong>Category: </strong>{{dataValues.category}}</span>
                  </div>
                  <div class="ui left aligned">
                    <span class="date"><strong>Date Posted: </strong> {{dataValues.createdAt}}</span>
                  </div>
                </div>
              </div>
              <button type="button" data-id="{{dataValues.id}}" class="ui inverted purple button purchasebutton">
                   <i class="shopping cart icon"></i>
                  Add to Cart
                </button>
              </div> 
              </div>
            </div>
          </div>
        {{/each}}
        </div> 
      </div>
    </main>

    <script>
      $(".purchasebutton").on("click", function (event) {
        const name = $("#catItemName").data("name")
        const price = $("#catprice").data("price")
        const img = $("#catImg").data("img")
        console.log(price)

        let cartItem = {name: name, price: price, image: img}

        localStorage.setItem("cart-items", JSON.stringify(cartItem))
        let id = $(this).data("id")


        $.ajax({
            type: "delete",
            url: "/api/deleteitem/" + id
        }).then(function(deletedItem) {
            console.log(console.log(deletedItem))
            //window.location.reload()
            return alert("Item added to cart!")
        }).catch(function(err) {
          console.log(err)
        }) 
    })
    </script>