    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <div class="ui huge dividing header">ShopByYou</div>
        <div class="alert"></div>
      </div>
    </header>
     <main class="ui center aligned container">
        
      <div class="ui four cards">
        <div class="ui stackable four column grid">
          {{#each items}} 
          <div class="column">
            <div class="ui fluid card itemcard">
              <div class="content">
                <div class="header">
                  <img
                    data-img="{{dataValues.image}}"
                    src="{{dataValues.image}}"
                    class="ui right spaced image itemImg"
                  />
                <h3 class="itemname" data-name="{{dataValues.item_name}}">{{dataValues.item_name}}</h3>
                </div>
                <div class="ui container">
                <div class="description ui left aligned">
                  <p>
                      {{dataValues.description}}    
                  </p>
                  <div class="ui left aligned">
                    <p data-price="{{dataValues.price}}" class="price itemprice"><strong>Price: </strong>${{dataValues.price}}</p>
                  </div>
                  <div class="ui left aligned">
                    <span class="quantity"><strong>Quantity: </strong>{{dataValues.quantity}}</span>
                  </div>
                  <div class="ui left aligned">
                    <span class="itemId"><strong>Product ID: </strong>{{dataValues.id}}</span>
                  </div>
                  <div class="ui left aligned">
                    <span class="category"><strong>Category: </strong>{{dataValues.category}}</span>
                  </div>
                  <div class="ui left aligned">
                    <span class="date"><strong>Date Posted: </strong> {{dataValues.createdAt}}</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="ui bottom attached buttons">
                <button type="button" data-name="{{dataValues.item_name}}" data-quantity={{dataValues.quantity}} data-img="{{dataValues.image}}" data-price="{{dataValues.price}}" data-id="{{dataValues.id}}" class="ui inverted purple button purchasebutton">
                   <i class="shopping cart icon"></i>
                  Add to Cart
                </button>
                <button type="button" data-name="{{dataValues.item_name}}" data-quantity={{dataValues.quantity}} data-img="{{dataValues.image}}" data-price="{{dataValues.price}}" data-id="{{dataValues.id}}" class="ui inverted purple button deletebutton">
                   <i class="trash icon"></i>
                    Delete
                </button>
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </div>
      
    </main>

    <script src="/assets/js/shop.js"></script>
