    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <div class="ui huge dividing header">ShopByYou</div>
        <div class="alert"></div>
      </div>
    </header>
     <main class="ui center aligned container">
        
      <div class="ui four cards">
        <div class="ui stackable four column grid">
          {{#each items}} 
          <div class="column">
            <div id="itemcard" class="ui fluid card">
              <div class="content">
                <div class="header">
                  <img
                    id="itemImg"
                    data-img="{{dataValues.image}}"
                    src="{{dataValues.image}}"
                    class="ui right spaced image"
                  />
                <h3 id="itemname" data-name="{{dataValues.item_name}}">{{dataValues.item_name}}</h3>
                </div>
                <div class="ui container">
                <div class="description ui left aligned">
                  <p>
                      {{dataValues.description}}    
                  </p>
                  <div class="ui left aligned">
                    <p id="itemprice" data-price="{{dataValues.price}}" class="price"><strong>Price: </strong>${{dataValues.price}}</p>
                  </div>
                  <div class="ui left aligned">
                    <span id="itemId"><strong>Product ID: </strong>{{dataValues.id}}</span>
                  </div>
                  <div class="ui left aligned">
                    <span class="category"><strong>Category: </strong>{{dataValues.category}}</span>
                  </div>
                  <div class="ui left aligned">
                    <span class="date"><strong>Date Posted: </strong> {{dataValues.createdAt}}</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="ui bottom attached buttons">
                <button type="button" data-id="{{dataValues.id}}" id="purchasebutton" class="ui inverted purple button">
                   <i class="shopping cart icon"></i>
                  Add to Cart
                </button>
                
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </div>
      
    </main>

    <script>
      $("#purchasebutton").on("click", function (event) {
        const name = $("#itemname").data("name")
        const price = $("#itemprice").data("price")
        const img = $("#itemImg").data("img")
        console.log(price)

        let cartItem = {name: name, price: price, image: img}

        localStorage.setItem("cart-items", JSON.stringify(cartItem))
        let id = $(this).data("id")

        $.ajax({
            type: "delete",
            url: "/api/deleteitem/" + id
        }).then(function(deletedItem) {
            console.log(console.log(deletedItem))
            window.location.reload()
            return alert("Item added to cart!")
        }).catch(function(err) {
          console.log(err)
        }) 
    })
    </script>
