    <header class="ui center aligned container">
      <div class="ui sizer vertical segment">
        <div class="ui huge header">ShopByYou</div>
      </div>
    </header>
     <main class="ui center aligned container">
      <div class="ui four cards">
        <div class="ui stackable four column grid">
                  {{#each items}} 
          <div class="column">
            <div class="ui card">
              <div class="content">
                <div class="header">
                  <img
                    src="../uploads/{{dataValues.image}}"
                    class="ui right spaced image"
                  />
                <h3>Item Name: {{dataValues.item_name}}</h3>
                </div>
                <div class="description ui left aligned">
                  <p>
                      {{dataValues.description}}    
                  </p>
                  <div class="meta ui left aligned">
                    <span class="price">Price: {{dataValues.price}}</span>
                  </div>
                  <div class="meta ui left aligned">
                    <span class="quantity">Quantity: {{dataValues.quantity}}</span>
                  </div>
                  <div class="meta ui left aligned">
                    <span class="category">Category: {{dataValues.category}}</span>
                  </div>
                  <div class="meta ui left aligned">
                    <span class="date">Date Posted: {{dataValues.createdAt}}</span>
                  </div>
                </div>
              </div>
              <div class="ui two bottom attached buttons">
                <button type="submit" class="ui inverted purple button">
                  <i class="add icon"></i>
                  Cart 
                </button>
                <button type="submit" class="ui inverted pink button">
                  <i class="heart outline like icon"></i>
                  Favorite
                </button>
              </div>
            </div>
          </div>
                  {{/each}}
        </div>
      </div>
    </main>
